body{
    background-color: #9b9898;
    font-family:'Times New Roman', Times, serif;

}

.text {
    color: white;
    padding: 100px 0px 60px 170px;
    
    width: 1255px;
    height: 700px;
    background-size: cover;
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipPe4SmUaCZrMJ5nkAyMeOF7JChYmZVA4QCemaNU=s1360-w1360-h1020);
}
.text h1{
    font-size: 45px;
    margin-top: -70px;
    margin-left: -130px;
}

.navbar{
    background-color: #333;
}

footer{
    background-color: rgb(105, 105, 105);
    text-align: center;
    color:white;
    padding:1em 0;
    width:1425px;

}


.container{
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 1% 0 1% 0;
    overflow: hidden;
    
}

.logo{
    margin-left: 1%;
    float: left;
    background-color: rgb(85, 83, 87);
    width: 49%;
    height: 50px;
    
}

.navigasi-logo img{
    height: 100%;
}

.item{
    margin-right: 1%;
    float: left;
    width: 49%;
    background-color: rgb(138, 138, 138);
    height: 50px;
    
}

.item ul{
    margin: 0;
    padding: 0;
    height: 100%;
}

.item li{   
    float: left;
    list-style-type: none;
    margin: 0 1% 0 1%;
    padding: 16px;
}

.item li a{
    text-decoration: 0;
    color: black;
}

li:hover{
    background-color: rgb(124, 121, 121);
    
}


section{
    margin-bottom: 20px;
}

section h1{
    color: black;
    text-align: center;
}

article{
    background-color: rgb(0, 0, 0);
    color:white;
    margin:1px;
    padding:1em;
    height: 500px;
    width: 1395px;
    
    
}
section figure img{
    border: 1px solid white;
    margin-left: 10px;
}

.kepsen{
    position: absolute;
    margin-top: 350px;
    margin-left: 85px;
}

.kepsen2{
    position: absolute;
    margin-top: 350px;
    margin-left: 425px;
}

.kepsen3{
    position: absolute;
    margin-top: 350px;
    margin-left: 745px;
}

.kepsen4{
    position: absolute;
    margin-top: 350px;
    margin-left: 970px;
}
